<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUUAB2ShanXr5SAemDo9pU4Ar2HCsFhMM</string>
	<key>GCM_SENDER_ID</key>
	<string>671535609379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirrorbase.mirrortest</string>
	<key>PROJECT_ID</key>
	<string>mirrorbase-376bc</string>
	<key>STORAGE_BUCKET</key>
	<string>mirrorbase-376bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671535609379:ios:0199d3e8ca611f6e59e396</string>
	<key>DATABASE_URL</key>
	<string>https://mirrorbase-376bc-default-rtdb.firebaseio.com</string>
</dict>
</plist>
